.carousel {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.carousel__wrapper {
  width: 100%;
  height: 100%;
}

.skin__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skin__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(5px);
  opacity: 0.5;
}

.skin__active {
  z-index: 2;
  max-width: 100%;
  height: 100%;
  object-fit: contain;
}

.carousel__nav {
  z-index: 3;
  position: absolute;
  height: 90px;
  width: 100%;
  bottom: 0;
  padding: 0 2rem;
  
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, black, 30%, transparent);

}

.arrow {
  cursor: pointer;
  width: 25px;
  height: 25px;
  fill: white;
}

.carousel__indicators {
  margin: 0 2rem;
}

.skin__indicator {
  height: 60px;
  margin: 0 5px;
}

.skin__indicator-other {
  cursor: pointer;
}

.skin__indicator-other:hover {
  outline: 2px solid var(--darkGold);
}

.skin__indicator-active {
  outline: 2px solid var(--gold);
}