.champions {
  width: 100%;
  padding-top: 1rem;


  background: var(--bg);
}
/* 
.champions__wrapper {
  width: 80vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
} */

.champions__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr) );
}