.champion {
  background: var(--bg);
  display: flex;
  flex-direction: column;

  min-height: 100vh;

  padding: 1rem;

  position: relative;
}

.champion__name {
  color: var(--white);
  margin: 0 0 1rem 1rem;
  font-family: var(--font-base);
  font-size: 35px;
}

.champion__skins-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
}

