.app {
  background: var(--bg);
}

.p__nunito {
  font-family: var(--font-base);
  font-weight: 600;
  font-size: 18px;
  color: var(--gold);
}

.p__info {
  font-family: var(--font-base);
  color: var(--white);
}

.main {
  min-height: 100vh;
  background: var(--bg);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
