.p__nunito {
  font-family: var(--font-base);
  font-weight: 600;
  font-size: 18px;
  color: var(--gold);
}

.p__info {
  font-family: var(--font-base);
  color: var(--white);
}

.main {
  padding: 0 1rem 0 1rem;
  background: var(--bg);
}